$backgroud-color: lighten(#F5EDE1, 3%) !default
$text-color: #58595E !default
$theme-color: #BE5141 !default

$base-font-family: 'Source Serif Pro', serif !default
$code-font-family: 'Source Code Pro', monospace !default

@import 'theme/base'
@import 'theme/trac-syntax-highlighting'
